{{- $waline := .Site.Params.comments.waline -}}
{{- $walineJS := default "https://cdn.jsdelivr.net/npm/@waline/client@2.15.8/dist/waline.js" $waline.js -}}
{{- $walineCSS := default "https://cdn.jsdelivr.net/npm/@waline/client@2.15.8/dist/waline.css" $waline.css -}}
<script src="{{ $walineJS }}"{{ with $waline.jsIntegrity }} integrity="{{ . }}" crossorigin="anonymous"{{ end }}></script>
<link href="{{ $walineCSS }}" rel="stylesheet"{{ with $waline.cssIntegrity }} integrity="{{ . }}" crossorigin="anonymous"{{ end }}/>
<div id="waline" class="waline-container"></div>
<style>
    .waline-container {
        background-color: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        padding: var(--card-padding);
        --waline-font-size: var(--article-font-size);
    }
    .waline-container .wl-count {
        color: var(--card-text-color-main);
    }
</style>

{{- with $waline -}}
{{- $config := dict "el" "#waline" "dark" `html[data-scheme="dark"]` -}}
{{- $replaceKeys := dict "serverurl" "serverURL" "requiredmeta" "requiredMeta" "wordlimit" "wordLimit" "pagesize" "pageSize" "imageuploader" "imageUploader" "texrenderer" "texRenderer" "turnstilekey" "turnstileKey" -}}

{{- range $key, $val := . -}}
    {{- if ne $val nil -}}  
        {{- $replaceKey := index $replaceKeys $key -}}
        {{- $k := default $key $replaceKey -}}

        {{- $config = merge $config (dict $k $val) -}}
    {{- end -}}
{{- end -}}

<script>
    /// Waline client configuration see: https://waline.js.org/en/reference/client.html
    Waline.init({{ $config | jsonify | safeJS }});
</script>
{{- end -}}
