{{/* Load base theme stylesheet first */}}
{{ $base := resources.Get "scss/style.scss" | toCSS | minify | resources.Fingerprint "sha256" }}
<link rel="stylesheet" href="{{ $base.RelPermalink }}">

{{/* Optional seasonal override: loads after base */}}
{{ $variantParam := .Site.Params.themeVariant }}
{{ $variant := "" }}
{{ if $variantParam }}
  {{ if reflect.IsMap $variantParam }}
    {{ $variant = default "" (index $variantParam "active") }}
    {{ if not $variant }}
      {{ $variant = default "" (index $variantParam "name") }}
    {{ end }}
  {{ else }}
    {{ $variant = $variantParam }}
  {{ end }}
{{ end }}
{{ if $variant }}
  {{ $override := resources.Get (printf "scss/style-%s.scss" $variant) }}
  {{ if $override }}
    {{ $ov := $override | toCSS | minify | resources.Fingerprint "sha256" }}
    <link rel="stylesheet" href="{{ $ov.RelPermalink }}">
  {{ end }}
{{ end }}
